.top-container {
    background-color: #1F2937;
    padding-right: 100px;
    padding-left: 100px;
}
.big-header {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    padding: 20px;
}
.small-header {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 16px;
    padding: 16px;
}

.header-links {
    display: flex;
    justify-content: space-between;
   
}
.main-body {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    margin-top: 100px;
}

.web {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    
}
.web-text {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882f6;
    width: 100px;
    color: white;
    border-radius: 8px;
    height: 30px;
    font-size: 16px;
    margin-top: 16px;

}

body {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.top-image {
    height: auto;
    width: 500px;
}


.text-main-body {
    padding: 16px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.second-header {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    align-items: center;
    padding: 35px;
    
}

.social-image {
    height: auto;
    width: 200px;
}

.social-text {
    display: flex;
    justify-content: center;
    padding: 16px;
    font-size: 30px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}



